.context-bar
  = fa_icon "heart"
  .notification 久保裕也さんがいいねしました
%img.icon
.tweet-header
  .fullname 浅野拓磨
  .username @asano
  .timestamp 12分
  = fa_icon "angle-down"
.tweet-text エース！
.item-fotter
  = fa_icon "comment"
  .count 3
  = fa_icon "retweet"
  .count 3
  = fa_icon "heart"
  .count 3
  = fa_icon "envelope"