.contents__timeline__tweet__box
  .context-bar
    -if tweet.likes.present?
      = fa_icon "heart"
    .notification
      - tweet.likes.each do |likes|
        = likes.user.name + "さんがいいねしました"
  = link_to user_path(tweet.user.id) do
    .icon
      = image_tag tweet.user.avatar_image.url(:thumb_d)
  .tweet-header
    = link_to user_path(tweet.user.id) do
      .fullname
        = tweet.user.name
    .username
      = tweet.user.username
    = link_to tweet_path(tweet.id) do
      .timestamp
        = time_ago_in_words(tweet.created_at)
    = fa_icon "caret-down"
    .guide-other その他
    - if current_user.id == tweet.user_id
      .delete-menu
        .delete-menu__share ダイレクトメッセージで共有
        .delete-menu__copy ツイートへのリンクをコピー
        .delete-menu__site ツイートをサイトに埋め込む
        .delete-menu__pintweet プロフィールを固定表示しない
        .delete-menu__delete
          = link_to 'ツイートを削除', tweet_path(tweet.id), method: :delete, data: {confirm: "このツイートを本当に削除しますか?"}
        .delete-menu__moment モーメントに追加
    - else
      .other-menu
        .other-menu__copy ツイートへのリンクをコピー
        .other-menu__site ツイートをサイトに埋め込む
        .other-menu__mute
          = tweet.user.name + "さんをミュート"
        .other-menu__block
          = tweet.user.name + "さんをブロック"
        .other-menu__report ツイートを報告する
        .other-menu__moment モーメントに追加
  = link_to tweet_path(tweet.id) do
    .tweet-text
      .body
      = tweet.body
      .image
      - tweet.images.each do |a|
        = image_tag a.image.url(:tweet_image)
  .item-footer
    = fa_icon "comment"
    .guide-comment 返信
    = link_to tweet_path(tweet.id) do
      .count_comments
        = tweet.comments.count
    = fa_icon "retweet"
    .guide-retweet リツイート
    .count_retweets 0
    .like_button{id: "like_button_#{tweet.id}"}
      = render "likes/like", {tweet: tweet}
    = fa_icon "envelope"
    .guide-message メッセージ
