.topbar
  .topbar__navigation
    .topbar__navigation__left
      .home
        = link_to "#" do
          = fa_icon "home"
          .text ホーム
      .moment
        = link_to "#" do
          = fa_icon "bolt"
          .text モーメント
      .notification
        = link_to "#" do
          = fa_icon "bell"
          .text 通知
      .message
        = link_to "#" do
          = fa_icon "envelope"
          .text メッセージ
    .bird-icon
      = link_to "#" do
        = fa_icon "twitter"
    .topbar__navigation__right
      .search
        %form.search
          %input.keyword(placeholder="キーワード検索" type="text")
          %label
        = fa_icon "search"
      #navi
        = image_tag current_user.avatar_image.url(:thumb_a)
        .menu
          .menu__name
            = current_user.name
          .menu__user-name
            @
            = current_user.username
          .menu__user-link
            = link_to edit_user_path(current_user) do
              = fa_icon "male"
              .m-text-a プロフィール
          .menu__list
            = link_to "#" do
              = fa_icon "list"
              .m-text-a リスト
          .menu__moment
            = link_to "#" do
              = fa_icon "bolt"
              .m-text-a モーメント
          .menu__setting
            = link_to "#" do
              .m-text-b 設定とプライバシー
          .menu__help-center
            = link_to "#" do
              .m-text-b ヘルプセンター
          .menu__logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'm-text-b'
      .tweet-buttun ツイート
.contents
  .contents__leftbar
    .contents__leftbar__profile
      .profile-bg
        = image_tag current_user.header_image.url(:header_b)
      .profile-icon-link
        = image_tag current_user.avatar_image.url(:thumb_b)
      .user-field
        .name
          = current_user.name
        .user-name
          @
          = current_user.username
      .tweets
        .tweets-label ツイート
        .tweets-count 9,898
      .following
        .following-label フォロー
        .following-count 2,929
      .followed
        .followed-label フォロワー
        .followed-count 3,562
    .contents__leftbar__recommend-trend
      .trend-header おすすめトレンド
      .change-trends 変更する
      .trend-item
        =render "trend"
  .contents__timeline
    .contents__timeline__tweetbox__one
      .icon
        = image_tag current_user.avatar_image.url(:thumb_a)
      .tweet-editer
        .rich-editor
          = form_for(@tweet) do |f|
            .field
              .field-input
                = f.text_field :body
                = f.label :image, class: 'image-upload' do
                  = fa_icon "image"
                  = f.file_field :image, class: 'hidden'
                = f.submit '', class: 'form__submit'
              .text いまどうしてる？
              .guide-image 画像/動画を追加
    .contents__timeline__tweetbox__two
      .icon
        = image_tag current_user.avatar_image.url(:thumb_a)
      .tweet-editer
        .rich-editor
          = form_for(@tweet) do |f|
            .field
              .field-input
                = f.text_area :body, placeholder: "いまどうしてる？"
                = f.fields_for :images, multiple: true do |i|
                  = i.label :image, class: 'image-upload' do
                    = fa_icon "image"
                  = i.file_field :image, class: 'hidden'
                = f.submit 'ツイート', class: 'tweet-buttun'
                = fa_icon "star"
                = fa_icon "circle"
                = fa_icon "align-left"
                = fa_icon "map-pin"
                .guide-emoji 絵文字を追加
                .guide-image 画像/動画を追加
                .guide-vote 投票を追加
                .guide-address 位置情報を追加
    .contents__timeline__new-tweets-bar 新しいツイートを表示
    .contents__timeline__tweet
      = render partial: 'tweet', collection: @tweets
  .contents__rightbar
    .contents__rightbar__recommend-user
      .trend-header おすすめユーザー
      .update 更新
      .all-link すべて見る
      .user-small-list-item
        %img.icon
        .lists
          =render "recommend"
      .user-small-list-item
    .contents__rightbar__footer
      .item ©️2018 Twitter
      .item Twitterについて
      .item ヘルプセンター
      .item 規約
      .item プライバシーポリシー
      .item クッキー
      .item 広告について
      .item ブランド
      .item ブログ
      .item ステータス
      .item アプリ連携
      .item 採用情報
      .item マーケティング
      .item 広告掲載方法
      .item 開発者
