= render "shared/topbar"
.contents
  .contents__leftbar
    .contents__leftbar__profile
      = link_to user_path(current_user) do
        .profile-bg
          = image_tag current_user.header_image.url(:header_b)
      = link_to user_path(current_user) do
        .profile-icon-link
          = image_tag current_user.avatar_image.url(:thumb_b)
      .user-field
        = link_to "#{current_user.name}", user_path(current_user), class: 'name'
        = link_to "#{current_user.username}", user_path(current_user), class: 'user-name'
      .tweets
        .guide-tweets
          = current_user.tweets.count.to_s + "ツイート"
        = link_to "ツイート", user_path(current_user), class: 'tweets-label'
        = link_to "#{current_user.tweets.count}", user_path(current_user), class: 'tweets-count'
      .following
        .guide-following 292人をフォロー中
        .following-label フォロー
        .following-count 292
      .followed
        .guide-followed 356人のフォロワー
        .followed-label フォロワー
        .followed-count 356
    .contents__leftbar__recommend-trend
      .trend-header おすすめトレンド
      .change-trends 変更する
      .trend-item
        =render "shared/trend"
  .contents__timeline
    .contents__timeline__tweetbox__one
      .icon
        = image_tag current_user.avatar_image.url(:thumb_a)
      .tweet-editer
        .rich-editor
          = form_for(@tweet) do |f|
            .field
              .field-input
                = f.text_field :body
                = f.label :image, class: 'image-upload' do
                  = fa_icon "image"
                  = f.file_field :image, class: 'hidden'
                = f.submit '', class: 'form__submit'
              .text いまどうしてる？
              .guide-image 画像/動画を追加
    .contents__timeline__tweetbox__two
      .icon
        = image_tag current_user.avatar_image.url(:thumb_a)
      .tweet-editer
        .rich-editor
          = form_for(@tweet) do |f|
            .field
              .field-input
                = f.text_area :body, placeholder: "いまどうしてる？"
                = f.fields_for :images, multiple: true do |i|
                  = i.label :image, class: 'image-upload' do
                    = fa_icon "image"
                  = i.file_field :image, class: 'hidden'
                = f.submit 'ツイート', class: 'tweet-buttun'
                = fa_icon "star"
                = fa_icon "circle"
                = fa_icon "align-left"
                = fa_icon "map-pin"
                .guide-emoji 絵文字を追加
                .guide-image 画像/動画を追加
                .guide-vote 投票を追加
                .guide-address 位置情報を追加
    = link_to "新しいツイートを表示", root_path, class: 'contents__timeline__new-tweets-bar'
    .contents__timeline__tweet
      = render partial: 'shared/tweet', collection: @tweets
  .contents__rightbar
    .contents__rightbar__recommend-user
      .trend-header おすすめユーザー
      .update 更新
      .all-link すべて見る
      .user-small-list-item
        %img.icon
        .user-lists
          =render "shared/recommend"
      .user-small-list-item
    .contents__rightbar__footer
      .item ©️2018 Twitter
      .item Twitterについて
      .item ヘルプセンター
      .item 規約
      .item プライバシーポリシー
      .item クッキー
      .item 広告について
      .item ブランド
      .item ブログ
      .item ステータス
      .item アプリ連携
      .item 採用情報
      .item マーケティング
      .item 広告掲載方法
      .item 開発者
