.contents__timeline__tweet__box
  .context-bar
    = fa_icon "heart"
    .notification 久保裕也さんがいいねしました
  .icon
    = image_tag tweet.user.avatar_image.url(:thumb_d)
  .tweet-header
    .fullname
      = tweet.user.name
    .username
      @
      = tweet.user.username
      •
    .timestamp
      = time_ago_in_words(tweet.created_at)
    = fa_icon "caret-down"
    .other-menu
      .other-menu__copy ツイートへのリンクをコピー
      .other-menu__site ツイートをサイトに埋め込む
      .other-menu__mute さんをミュート
      .other-menu__block さんをブロック
      .other-menu__report ツイートを報告する
      .other-menu__moment モーメントに追加
  .tweet-text
    .body
    = tweet.body
    .image
    - tweet.images.each do |a|
      = image_tag a.image.url(:tweet_image)
  .guide
    .guide-comment 返信
    .guide-retweet リツイート
    .guide-like いいね
    .guide-message メッセージ
    .guide-other その他
  .item-footer
    = fa_icon "comment"
    .count 3
    = fa_icon "retweet"
    .count 3
    = fa_icon "heart"
    .count 3
    = fa_icon "envelope"
