= render 'shared/topbar'
.header__show
  = image_tag @user.header_image.url(:header_a)
.avatar__show
  = image_tag @user.avatar_image.url(:thumb_c)
.mypage__bar
  .mypage__bar__main
    .tweets
      .guide-tweets
        = @user.tweets.count.to_s + "ツイート"
      .tweets-label ツイート
      .tweets-count
        = @user.tweets.count
    .following
      .guide-following 292人をフォロー中
      .following-label フォロー
      .following-count 292
    .followed
      .guide-followed 356人のフォロワー
      .followed-label フォロワー
      .followed-count 356
    .likes
      .guide-likes
        = @user.likes.count.to_s + "いいね"
      .likes-label いいね
      .likes-count
        = @user.likes.count
    .lists
      .guide-lists 278件のリスト
      .lists-label リスト
      .lists-count 278
    .moments
      .guide-moments 111個のモーメント
      .moments-label モーメント
      .moments-count 111
  - if current_user.id == @user.id
    = link_to "プロフィールを編集", edit_user_path(current_user), class:'edit__profile'
  - else
    .follow_buttun フォローする
.show__contents
  .profile__box
    .profile__box__name
      = @user.name
    .profile__box__user-name
      = @user.username
    .profile__box__text
      = @user.profile
    .profile__box__url
      = @user.url
    .profile__box__address
      = @user.address
  .show__timeline
    .show__timeline__bar
      .show__timeline__bar__tweets ツイート
      .show__timeline__bar__reply ツイートと返信
      .show__timeline__bar__media メディア
    .show__timeline__tweet
      = render partial: 'shared/tweet', collection: @tweets
  .rightbar__show
    .rightbar__show__recommend-user
      .trend-header おすすめユーザー
      .update 更新
      .all-link すべて見る
      .user-small-list-item
        %img.icon
        .user-lists
          =render "shared/recommend"
      .user-small-list-item
    .rightbar__show__recommend-trend
      .trend-header おすすめトレンド
      .change-trends 変更する
      .trend-item
        =render "shared/trend"
    .rightbar__show__footer
      .item ©️2018 Twitter
      .item Twitterについて
      .item ヘルプセンター
      .item 規約
      .item プライバシーポリシー
      .item クッキー
      .item 広告について
      .item ブランド
      .item ブログ
      .item ステータス
      .item アプリ連携
      .item 採用情報
      .item マーケティング
      .item 広告掲載方法
      .item 開発者
